<div>
  <button class="btn btn-primary mt-3" (click)="move()">Click</button>
</div>
<div>
    <button class="btn btn-primary mt-3" (click)="fileDownload()">Click to download</button>
  </div>


<div class="col-md-6 offset-3 mt-5">
    <div>
        <input type="text" placeholder="Enter name to search" class="form-control" [(ngModel)]="filteredString">
    </div>
    <pre></pre>
    <table class="table table-bordered">
      <thead>
        <tr class="table-success">
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data | filter :filteredString">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.gender }}</td>    
        </tr>
</table>
</div> 

