label {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
    font-size: small;
    
}
.card {
    background-color: bisque;
    width: 50%;
}
label {
    display: block;
  }
  
  input.ng-invalid:focus {
    outline-color: red;
  }
  .form-control{
    box-shadow: none !important;
  }